<div>
    <h2>Countacs Us</h2>
    <h4> LTI MINDTREE</h4>
    <h4> MAHAPE, MUMBAI </h4>
    <br>
    <h1> 68899975 </h1>

</div>


@{
    var dt = DateTime.Now;
    <spam> Current date Time is:  @dt </spam>
}

  <a href = "~/home/ContactUs">
    
    <img src = "~/image/Wallpaper.jpg">
    </a>
    <a href = "~/home/ContactUs"></a>

    