@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
  <p>
    Message is : @ViewData["message"]
    <br>
    Message 2 is: @ViewBag.message2
    </p>