<!-- <ol>
    <li *ngFor = "let name of names">
        {{name}}
        </li>
</ol> -->

<table class="table">
    <tr *ngFor="let name of names">
        <td>{{name.fname}}</td>
        <td>{{name.lname}}</td>
        <td>{{name.email}}</td>
    </tr>
</table>



<div *ngIf="doesExist">

  
    <p [style]="colorStyle">The value from component class is: {{8*8}}</p>
   
    <input [type]="typeProperty" [value]="values" (keyup)="Save">
    <input type="text"(keyup)="SaveWater($event)">
    <input [(ngModel)]="twowayvariable" type="text">
    <p>{{twowayvariable}}</p>
</div>