<!-- <ol>
    <li *ngFor = "let name of names">
        {{name}}
        </li>
</ol> -->

<table class="table" >
    <h2>Details</h2>
    <tr>
        <th class="table-secondary">FirstName</th>
        <th class="table-primary">FirstName</th>
        <th class="table-success">Email</th>

    </tr>
    <tbody>

        <tr *ngFor="let name of names">
            <td class="table-primary">{{name.fname}}</td>
            <td class="table-secondary">{{name.lname}}</td>
            <td class="table-success">{{name.email}}</td>
        </tr>
        


    </tbody>
</table>



<div *ngIf="doesExist">

  
    <p [style]="colorStyle">The value from component class is: {{8*8}}</p>
   
    <input [type]="typeProperty" [value]="values" (keyup)="Save">
    <input type="text"(keyup)="SaveWater($event)">
    <input [(ngModel)]="twowayvariable" type="text">
    <p>{{twowayvariable}}</p>
</div>