@{
    ViewData["Title"]="Home Page";
    var Students = ViewData["myStudent"] as List<student>;
}
<table>
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Standard</th>
    </tr>
    @foreach (var std in Students)
    {
        <tr>
            <td>@std.RollNo</td>
            <td>@std.Name</td>
            <td>@std.Gender</td>
            <td>@std.Standard</td>
        </tr>
    }