@* @model CODEFIRSTAAP.Models.;

<form method="post" asp-action="Login">
    <label asp-formaction="UserName"></label>
    <input asp-for="UserName"/>
    <br /><br />
    <label asp-formaction="Password"></label>
    <input asp-for="Password"/>
    <br /><br />
    <label asp-formaction="RemeberMe"></label>
    <input asp-for="RemeberMe"/>
    <br /><br />
    <input type="submit" value="Login"/>
</form> *@