
<header>
    <nav>
        <div class="text">LNCTian Hunger</div>
        <ul>
            <li>
                <a routerLink="app-home">Home</a>
                <a routerLink="app-menu">Menu</a>
                <a  routerLink="app-revies">Review</a>
                <a routerLink="app-revies">Review</a>
            </li>
        </ul>
    </nav>

    <!-- <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>
    
    <div id="menu-bar" class="fas fa-bars"></div>
    
    <nav class="navbar">
        <a routerLink='app-home'>Home</a>
        <a routerLink='app-menu'>Menu</a>
        <a routerLink='app-cart'>Cart</a>
        <a routerLink='app-revies'>Gallery</a>
        <a routerLink='app-home'>review</a>
        <a href="order.html">order</a>
        
    </nav> -->
</header>

