<header>
    <div class="container">
        <a routerLink="/" class="logo">LNCTian Hunger</a>
        <nav >
            <ul>
                <li>
                    <a href="">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Raj</a>
                    <div class="menu">
                        <a routerLink="app-home">Home</a>
                        <a routerLink="app-menu">Menu</a>
                        <a  routerLink="app-revies">Review</a>
                        <a routerLink="app-cart">Cart</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>






  